<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/bootstrap.css" /> -->
    <link rel="stylesheet" href="../stylesheet/portfolio.css" />
    <title>Portfolio Website</title>
  </head>
  <body>
    <header class="site-header">
      <nav>
        <div class="logo">
          <h1>Portfo<span>lio</span></h1>
        </div>
        <div class="menu">
          <ul class="wwe">
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <section>
        <div class="leftside">
          <h4>Hello, my name is</h4>
          <br />
          <h1>Farhad Rahimi klie</h1>
          <br />
          <h2>And I'm a <span id="interval"></span></h2>
          <a href="">Hire me</a>
        </div>
      </section>
    </header>
    <div class="About" id="about">
      <h1>About me</h1>
      <br />
      <h3>---who i am---</h3>
      <div class="leftbar">
        <img src="../images/portfolio/Ronaldo2.jpg" alt="" />
      </div>
      <div class="rightbar">
        <h1>
          I'm Farhad Rahimi Klie and I'm a
          <span id="intervaljan">Developer</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex
          velit officiis ipsa sunt laboriosam aliquid enim mollitia explicabo
          deserunt tempora modi quibusdam totam optio nihil quos aut cupiditate
          doloribus iure, maiores animi debitis hic obcaecati quidem. Repellat
          excepturi molestiae libero aliquid et. Reiciendis assumenda et id.
          Voluptatem autem provident tempore eveniet quas pariatur, libero eum
          fuga eaque ipsam nisi laudantium fugiat illum quaerat ex amet vitae
          deleniti explicabo repellat soluta quam alias ea nobis non. Quisquam
          dolorum, error id quibusdam sed cumque debitis cupiditate deleniti
          nemo quia provident. Nisi, accusantium id harum obcaecati tempora
          reiciendis culpa commodi dolore. Ullam sunt quibusdam dolores eligendi
          eos libero omnis
        </p>
        <a href="">Downlaod CV</a>
      </div>
    </div>
    <div class="Services" id="services">
      <h1>My Services</h1>
      <h2>---What i Provide- --</h2>
      <div class="container">
        <h1>Web Design</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
          cupiditate nesciunt molestiae repellendus, harum cum vero veritatis
          blanditiis optio quod!
        </p>
      </div>
      <div class="container1">
        <h1>Advertising</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
          cupiditate nesciunt molestiae repellendus, harum cum vero veritatis
          blanditiis optio quod!
        </p>
      </div>
      <div class="container2">
        <h1>App Design</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
          cupiditate nesciunt molestiae repellendus, harum cum vero veritatis
          blanditiis optio quod!
        </p>
      </div>
    </div>
    <div class="Skills" id="skills">
      <h1>My Skills</h1>
      <h3>---what i know---</h3>
      <div class="left">
        <h2>My creativeSkills & Expriences.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quia
          sint fugit. Voluptatem repellendus voluptas nobis nihil, eius cum
          laborum, deserunt, quos reiciendis recusandae fugit non eaque numquam
          ut quia officiis necessitatibus sit architecto! Distinctio aspernatur
          nam iure accusantium cum.laborum, deserunt, quos reiciendis recusandae
          fugit non eaque numquam ut quia officiis necessitatibus sit
          architecto! Distinctio aspernatur nam iure accusantium cum
        </p>
        <a href="">Read More</a>
      </div>
      <div class="right">
        <div class="bars">
          <div class="info">
            <span>HTML</span>
            <span class="per">90%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>CSS</span>
            <span class="per">65%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>JAVASCRIPT</span>
            <span class="per">95%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>PHP</span>
            <span class="per">65%</span>
          </div>
          <div class="line php"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>MySQL</span>
            <span class="per">46%</span>
          </div>
          <div class="line mysql"></div>
        </div>
      </div>
    </div>
    <div class="contact" id="contact">
      <h1>Contact me</h1>
      <br />
      <h3>---get in Touch---</h3>
      <div class="jan">
        <h2>Getb in Touch</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          distinctio accusamus cupiditate maiores vitae quidem minus architecto
          eius aperiam ullam?cupiditate maiores vitae quidem minus architecto
          eius aperiam ullam?
        </p>
        <h1 class="nm">Name</h1>
        <p class="pa">Farhad Rahimi Klie</p>
        <h1 class="ad">Address</h1>
        <p class="and">Andkhoi, Faryab, Afghanistan</p>
        <h1 class="em">Email</h1>
        <p class="eml">www.Farhadrahimi1221@gmail.com</p>
      </div>
      <div class="message">
        <h1>Message Me</h1>
        <input type="text" class="name" placeholder="Enter Your Name..." />
        <input type="email" class="email" placeholder="Enter Your Email..." />
        <input type="text" class="sub" placeholder="Subject" />
        <input type="text" class="mes" placeholder="Message" />
        <a href="">Send Message</a>
      </div>
    </div>
    <div class="footer">
      <footer>
        <h3>
          Created By <span class="spa">Farhad Rahimi Klie</span>| @2023 All
          rights reserved.
        </h3>
      </footer>
    </div>
  </body>
</html>
